<template>
  <q-list>
    <q-item
      v-for="(item, index) in items"
      :key="index"
      :cols="3"
      class="fixed-width-item"
    >
      <q-item-section class="fixed-width-item-section">
        <div class="card">
          <div class="card-title">
            {{
              item.title.length > 30
                ? item.title.substring(0, 30) + '...'
                : item.title
            }}
          </div>
          <div class="card-content">
            <div id="image_item">
              <img
                v-bind:src="$options.env.MOVIE_IMAGE_URL + item.poster_path"
              />
            </div>
          </div>
        </div>
      </q-item-section>
    </q-item>
  </q-list>
</template>

<script>
export default {
  name: 'DynamicList',
  props: {
    items: {
      type: Array,
      required: true
    }
  },
  env: process.env
}
</script>

<style scoped>
.fixed-width-item {
  max-width: 200px; /* Sabit genişlik değerini buradan ayarlayabilirsiniz */
  width: 100%; /* Genişliği maksimum genişlik kadar olacak şekilde ayarlar */
}

.fixed-width-item-section {
  white-space: nowrap; /* Metni bir satırda sığdırmak için */
  text-overflow: ellipsis; /* Taşan kısmı üç nokta (...) ile göstermek için */
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Gölge efekti */
  border-radius: 8px; /* Köşe yuvarlatma */
  padding: 16px; /* İstenirse içeriğe bir miktar boşluk eklenebilir */
}

.card-title {
  font-weight: bold;
  margin-bottom: 8px;
}

.card-content img {
  max-width: 100%;
  height: auto;
  border-radius: 4px; /* İstenirse içerideki img elementine de köşe yuvarlatma eklenebilir */
}
</style>
