<template>
  <div class="full-width column">
    <div class="full-width q-pa-md q-gutter-md">
      <q-input
        outlined
        bottom-slots
        v-model="searchQuery"
        :hint="model.value"
        maxlength="12"
        @input="handleSearch"
        :dense="dense.value"
        :debounce="300"
      >
        <template v-slot:append>
          <q-icon
            v-if="searchQuery !== ''"
            name="close"
            @click="clearSearch"
            class="cursor-pointer"
          />
          <q-icon name="search" />
        </template>
      </q-input>
    </div>
    <div>Model: {{ model }}</div>
    <div>Manufacturer: {{ manufacturer }}</div>
    <div class="full-width">
      <!-- DynamicList bileşenini kullanma ve items prop'unu geçirme -->
      <DynamicList :items="myListItems" />
    </div>
  </div>
</template>

<script>
import { ref, watch } from 'vue'
import DynamicList from './DynamicList.vue'
import { movieApi } from 'boot/axios'
import { useQuasar } from 'quasar'
import { onMounted, onBeforeUnmount } from 'vue'
import { Device } from '@capacitor/device'
import { Notify } from 'quasar'

export default {
  name: 'SearchBar',
  components: {
    DynamicList
  },

  setup() {
    const $q = useQuasar()
    const searchQuery = ref('')
    const data = ref({})
    const dense = ref(true)
    const model = ref('Please wait...')
    const manufacturer = ref('Please wait...')

    const logDeviceInfo = async () => {
      const info = await Device.getId() // getId()

      Notify.create(info)
    }

    // myListItems'ı dinamik olarak güncelle
    const myListItems = ref([
      // Başlangıçta gösterilecek öğeler
    ])

    onMounted(() => {
      //logBatteryInfo()
      logDeviceInfo()
    })

    const handleSearch = async () => {
      loadData()
    }

    const clearSearch = () => {
      searchQuery.value = ''
    }

    const loadData = async () => {
      try {
        const response = await movieApi.get('search/movie', {
          params: {
            query: searchQuery.value,
            page: 1,
            year: 0,
            include_adult: true
          }
        })
        data.value = response.data
        myListItems.value = response.data.results
      } catch (error) {
        $q.notify({
          color: 'positive',
          position: 'top',
          message: 'Loading failed',
          icon: 'report_problem'
        })
        console.error(error)
      }
    }

    watch(searchQuery, loadData, { debounce: 300 })

    return {
      searchQuery,
      data,
      handleSearch,
      clearSearch,
      dense,
      myListItems,
      model,
      manufacturer
    }
  }
}
</script>
